{% extends "base.html" %}
{% block content %}
<h2 class="page_header">Devices:</h2>
<hr>
<div class="list-group">
    {% for object in object_list %}
        <a href="{% url 'device_detail' object.location.slug object.slug %}" class="list-group-item list-group-item-action">{{ object.alias|title }}</a>
    {% endfor %}
</div>
{% endblock %}