{% extends "base.html" %}
{% load static %}
{% block content %}
<h2 class="page_header">Device Details</h2>
<hr>

<table class="table table-bordered table-striped">
    <tr>
        <td><b>Alias:</b></td>
        <td>{{ object.alias }}</td>
    </tr>
    <tr>
        <td><b>Location: </b></td>
        <td>{{ object.location.name }}</td>
    </tr>
    <tr>
        <td><b>Total Guests: </b></td>
        <td id="in_count">{{ object.in_count}}</td>
    </tr>
</table>
      
<div class="jumbotron text-center counter">
    <h1>Guests Now:</h1>
    <h2 id="total_count">{{ object.total_count }}</h2>
</div>

<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
<script>
    $(document).ready(function(){
        var wsScheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://'
        var wsPath = wsScheme + location.host + window.location.pathname
        var ws = new ReconnectingWebSocket(wsPath);
        ws.onopen = function(){
            console.log("Opened")
        }
        ws.onmessage = function(message){
            var data = JSON.parse(JSON.parse(message.data))
            $("#total_count").text(data.total_count)
            $("#in_count").text(data.in_count)
        }
        ws.onclose = function(){
            console.log("Closed")
        }
    })
</script>
{% endblock %}
