{% extends "base.html" %}
{% block content %}
<h2 class="page_header">Locations:</h2>
<hr>
<div class="list-group">
    {% for object in object_list %}
        <a href="{% url 'device_list' object.slug %}" class="list-group-item list-group-item-action">{{ object.name }}</a>
    {% endfor %}
</div>
{% endblock %}